  
  .App {
    text-align: center;
    background-color: rgb(245, 225, 196);
    height: 50em;
    padding:10px;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color:rgb(173, 187, 226);
    height: 10em;
    padding: 50px;
    color: white;
    
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }

 
  .navbar {
    margin-top: auto;
    margin-bottom: 3em;
  }

  .navbar-brand{
    padding: 2px;
    font-size: 2em;
  }

  .navbar-section{
    padding:5px;
    display: flex;
    justify-content: space-around;
  }
  .form-control{
    background: rgb(241, 241, 241);
  }
  .text-secondary{
    font-size: 20px;
    padding:3px;
   }
  #top-filler {
    margin-bottom: auto;
  }
  #nav-container {
    align-items: flex-end;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }