.footer span {
  position: absolute;
  bottom: 10;
  left: 43em;
  padding: 20px;
  background: rgb(86, 119, 228);
}

.footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: x-large;
}