nav.navbar.navbar-default {
  margin-bottom: 0;
}
.navbar-title{
  padding:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:3em;
  display:block;  
}
.nav-link{
  display: block;
  font-size: 1em;
}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left:10px;
  padding: 10;
  width: 12.3%;
  background-color: #cbd3f0;
  position: fixed;
  height: 30%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 20px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}